<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campeon || Api-rest LoL</title>
</head>
<body>
    <h1>Rutas Campeon</h1>

    <a href="/">Volver</a>

    <a href="http://localhost:2107/api/tipoCampeon">http://localhost:2107/api/tipoCampeon</a>
</body>
</html>