<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campeon || Api-rest LoL</title>
</head>
<body>

    <%- include('templates/nav');%>

<section>
    
<div class="x">
    <h1 class="titulo">Rutas Campeon</h1>
    <div class="texto">
    <a class="texto">Get</a>
    </div>
    <div class="link">
    <a class="link" href="http://localhost:2107/api/tipoCampeon">http://localhost:2107/api/tipoCampeon</a>
    </div>
    <div class="texto">
    <a class="texto">Get id</a>
    </div>
    <div class="link">
    <a class="link" href="http://localhost:2107/api/tipoCampeon/638bfbe3761d1364402ec57c">http://localhost:2107/api/tipoCampeon/638bfbe3761d1364402ec57c</a>
    </div>
    <div class="texto">
    <a class="texto">Post</a>
    </div>
    <div class="link">
    <a class="link" href="http://localhost:2107/api/tipoCampeon">http://localhost:2107/api/tipoCampeon</a>
    </div>
    <div class="texto">
    <a class="texto">Put</a>
    </div>
    <div class="link">
    <a class="link" href="http://localhost:2107/api/tipoCampeon/63894f525a773b9805cfa941">http://localhost:2107/api/tipoCampeon/63894f525a773b9805cfa941</a>
    </div>
</div>

</section>    

</body>
</html>