<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="../../img/juego.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campeon || Api-rest LoL</title>
</head>
<body>

    <%- include('templates/nav');%>


    <section class="container-rutas">

        <div class="title">
            <h1>Rutas campeon</h1>
        </div>
       
    
        <div class="rutas">
    
            <div class="columna">
    
                
                <div class="link">
    
                    <label>Consultar campeon</label>
                    <hr>
    
                    <a class="" href="http://localhost:2107/api/tipoCampeon">http://localhost:2107/api/tipoCampeon</a>
    
                </div>
    
                <div class="link">
    
                    <label>Consultar campeon por ID</label>
                    <hr>
                    <a class="" href="http://localhost:2107/api/tipoCampeon/638bfbe3761d1364402ec57c">http://localhost:2107/api/tipoCampeon/638bfbe3761d1364402ec57c</a>
                    
                </div>
    
                <div class="link">
    
                    <label>Registra una campeon linea</label>
                    <hr>
    
                    <a class="" href="http://localhost:2107/api/tipoCampeon">http://localhost:2107/api/tipoCampeon</a>
                    
                </div>
    
            </div>
    
            <div class="columna">
                
                <div class="link">
    
                    <label>Actualiza una campeon</label>
                    <hr>
                    <a class="" href="http://localhost:2107/api/tipoCampeon/63894f525a773b9805cfa941">http://localhost:2107/api/tipoCampeon/63894f525a773b9805cfa941</a>
                    
                </div>
    
                <div class="link">
                   
                    <label>Elimina una campeon</label>
                    <hr>
                    <a class="" href="http://localhost:2107/api/tipoCampeon/63894f525a773b9805cfa941">http://localhost:2107/api/tipoCampeon/63894f525a773b9805cfa941</a>
                    
                </div>
    
            </div>
    
        </div>
    
    
    
    </section>

    
</body>
</html>