<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/juego.png">
    <!--=============== Remixicons ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">
    <title>Api-inicio</title>
</head>

<body>

    <!--=============== Header ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li>
                        <a href="#home" class="nav__link active-link">Inicio</a>
                    </li>

                    <li>
                        <a href="#services" class="nav__link">Linea</a>
                    </li>

                    <li>
                        <a href="#resume" class="nav__link">Tipo Campeon</a>
                    </li>

                    <li>
                        <a href="#portfolio" class="nav__link">Personaje</a>
                    </li>

                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-fill"></i>
                </div>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-fill"></i>
            </div>
        </nav>
    </header>

    
    <div class="container-cards">
        <div class="card">
            <div class="imgBx">
                <img src="/img/rol.jpg" alt="">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Linea<br><span>Accede a la informacion</span></h2>
                   
                    <div class="actionBtn">
                        <a href="/linea">Ingresar</a>
                  
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="/img/tipo.jpeg" alt="">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Tipo Campeon<br><span>Accede a la informacion</span></h2>
                   
                    <div class="actionBtn">
                        <a href="/campeon">Ingresar</a>
                
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="/img/personaje.jpg" alt="">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Persoanje<br><span>Accede a la informacion</span></h2>
                    
                    <div class="actionBtn">
                        <a href="/personaje">Ingresar</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=============== Common ===============-->
    <script src="js/script.js"></script>

</body>

</html>