<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="img/juego.png">
 
    <title>Api-inicio</title>
</head>

<body>

    <%- include('templates/nav');%>

    <div class="container-cards">
        <div class="card">
            <div class="imgBx">
                <img src="/img/rol.jpg" alt="">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Linea<br><span>Accede a la informacion</span></h2>
                   
                    <div class="actionBtn">
                        <a href="/linea">Ingresar</a>
                  
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="/img/tipo.jpeg" alt="">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Tipo Campeon<br><span>Accede a la informacion</span></h2>
                   
                    <div class="actionBtn">
                        <a href="/campeon">Ingresar</a>
                
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="imgBx">
                <img src="/img/personaje.jpg" alt="">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Persoanje<br><span>Accede a la informacion</span></h2>
                    
                    <div class="actionBtn">
                        <a href="/personaje">Ingresar</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=============== Common ===============-->
    <script src="js/script.js"></script>

</body>

</html>