<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="../../img/juego.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personaje || Api-rest LoL</title>
</head>
<body>
    <%- include('templates/nav');%>


    <section class="container-rutas">

        <div class="title">
            <h1>Rutas personaje</h1>
        </div>
       
    
        <div class="rutas">
    
            <div class="columna">
    
                
                <div class="link">
    
                    <label>Consultar personaje</label>
                    <hr>
    
                    <a class="" href="http://localhost:2107/api/personaje">http://localhost:2107/api/personaje</a>
    
                </div>
    
                <div class="link">
    
                    <label>Consultar personaje por ID</label>
                    <hr>
                    <a class="" href="http://localhost:2107/api/personaje/638d73df2930c476fc9acd1c">http://localhost:2107/api/personaje/638d73df2930c476fc9acd1c</a>
                    
                </div>
    
                <div class="link">
    
                    <label>Registra una nuevo Personaje</label>
                    <hr>
    
                    <a class="" href="http://localhost:2107/api/personaje/638d739b2930c476fc9acd16/638d0ed53adcd209162e3897">http://localhost:2107/api/personaje/638d739b2930c476fc9acd16/638d0ed53adcd209162e3897</a>
                    
                </div>
    
            </div>
    
            <div class="columna">
                
                <div class="link">
    
                    <label>Actualiza una personaje</label>
                    <hr>
        <a class="" href="http://localhost:2107/api/personaje/638d73df2930c476fc9acd1c">http://localhost:2107/api/personaje/638d73df2930c476fc9acd1c</a>
                    
                </div>
    
                <div class="link">
                   
                    <label>Elimina una personaje</label>
                    <hr>
                    <a class="" href="http://localhost:2107/api/personaje/638d73df2930c476fc9acd1c">http://localhost:2107/api/personaje/638d73df2930c476fc9acd1c</a>
                    
                </div>
    
            </div>
    
        </div>
    
    
    
    </section>

</body>
</html>