<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
       <!--=============== Remixicons ===============-->
       <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

       <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    
  <!--=============== Header ===============-->
  <header class="header" id="header">
    <nav class="nav container">
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li>
                    <a href="/" class="nav__link active-link">Inicio</a>
                </li>

                <li>
                    <a href="/linea" class="nav__link">Linea</a>
                </li>

                <li>
                    <a href="/campeon" class="nav__link">Tipo Campeon</a>
                </li>

                <li>
                    <a href="/personaje" class="nav__link">Personaje</a>
                </li>

            </ul>

            <div class="nav__close" id="nav-close">
                <i class="ri-close-fill"></i>
            </div>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-fill"></i>
        </div>
    </nav>
</header>

<script src="js/script.js"></script>

</body>
</html>